#slidepanel{
	display:none;
	position:relative;
	width:100%;
	overflow:hidden;
	color:#E3DFD2;
	 
	}
	
	
	/* ----------------------------------------------Tab Panel-------------------------------------*/
.clear{clear:both;}
br.clear{clear:both; margin-top:-15px;}
a{outline:none; text-decoration:none;}
#accpanel{
	display:block;
	position:relative;
    top:0;
	}

#accpanel ul{
	display:block;
	 float:right;
	width:240px;
	height:25px;
	margin:0;
	padding:10px 0 10px 0;
	text-align:center;
	color:#E3DFD2;
	background-color:#4A5155;
	}

#accpanel li{
	display:block;
	height:25px;
	margin:0;
	padding:0;
	}

#accpanel li.left{
	float:left;
	text-align:right;
	padding-left:20px;
	 
	background:url("../images/box.png") no-repeat bottom right;
	}

#accpanel li.right{
	float:right;
	text-align:left;
	 
	background:url("../images/box.png") no-repeat bottom right;
	}

#accpanel a{
	display:block;
	width:150px;
	}
#whole{
	background:#999999;
 
 color:#FFF;
 
	font-weight:bold;
	border-radius:5px;
	border:2px;
	border:3px solid #0080FF;
	
}
#whole1 {
	font-family:Tahoma, Geneva, sans-serif;
	background-color:#4A5155;
	border-radius:5px;
	border:2px;
	border-bottom:3px solid #0080FF;
	color:#FFF;
}

#Reset{
	width:50%;
	height:35px;
	margin:2px;
	padding:2px 2px 2px 2px;
	text-align:center;}
	
	#save{
	width:50%;
	height:35px;
	margin:2px;
	padding:2px 2px 2px 2px;
	text-align:center;}