/*******************\

NAVBAR NAVIGATION STYLES



\********************/

/*****instantiate the navbar with default color as white****/
/*NAV*/
.navbar{
  background: linear-gradient(to left,rgba(54,194,182,0.96) 0,rgba(62,188,207,0.96) 100%);
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1); 
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navabar .navbar-brand{

}
.navbar .navbar-brand img{
width: 10em; 
  margin: 0 20px;
  max-height: 1.75rem;
}


.navbar .navbar-menu{
  display: none;
}


 .navbar .navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
  }
  .navbar-menu  .navbar-left,
  .navbar-menu  .navbar-right{

    display: flex; 

  }

 .navbar-menu  .navbar-left > a,
  .navbar-menu  .navbar-right > a{
    text-decoration: none; 
  }


.dropdown-content a{
  text-decoration: none; 
}
  

/****hamburger starts here, works on smaller devices or screen*****/
.navbar-burger {
  cursor: pointer;
  display: flex;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
}


/******hamburger styles or icon here, should be in a span********/
 

.navbar-burger span {
  background-color: currentColor;
  display: flex;
  height: 1px;
  left: calc(50% - 8px);
  position: absolute;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition-duration: 86ms;
          transition-duration: 86ms;
  -webkit-transition-property: background-color, opacity, -webkit-transform;
  transition-property: background-color, opacity, -webkit-transform;
  transition-property: background-color, opacity, transform;
  transition-property: background-color, opacity, transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  width: 16px;
}

/******first span of hamburger********/
.navbar-burger span:nth-child(1) {
  top: calc(50% - 6px);
}

.navbar-burger span:nth-child(2) {
  top: calc(50% - 1px);
}

/*******the third child of the burger*******/
.navbar-burger span:nth-child(3) {
  top: calc(50% + 4px);
}

/*******backgorund result when you hover on the burger*******/
.navbar-burger:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/*******transformt the burger to "X" when class is-active is included *******/
.navbar-burger.is-active span:nth-child(1) {
  -webkit-transform: translateY(5px) rotate(45deg);
          transform: translateY(5px) rotate(45deg);
}

.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
  -webkit-transform: translateY(-5px) rotate(-45deg);
          transform: translateY(-5px) rotate(-45deg);
} 



 
/*** Desktop***/
@media  (min-width: 48em ) {
 
/****hamburger starts here, works on smaller devices or screen*****/
.navbar-burger {
  display: none;
}

.navbar .navbar-menu {
    
    display: flex;
    flex:1;
    flex-wrap: wrap;
    justify-content:space-between; 
  }
   .navbar-menu  .navbar-left > a,
  .navbar-menu  .navbar-right > a{ 
    padding: 1em;
  }


    .dropdown .dropbtn{
    padding: 1em;
    font-family: inherit;
    margin: 0;
  }
  .navbar .navbar-menu .navbar-left .dropdown,
  .navbar .navbar-menu .navbar-right  .dropdown{
    position: relative;
    display: flex;
  }
  
    .dropdown-content{
      display: none;
      position: absolute; 
      background: white;
    min-width: 100%; 
    top: 100%;
    z-index: 20;
      flex: 1; 
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 2px solid #dbdbdb;
    box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
    }

.dropdown:hover .dropdown-content{
display: flex;
flex-flow: column;  
}
.dropdown-content a{ 
  padding: 5px;
}
  

}  



 
/*** mobile***/
@media  (max-width: 48em ) {

.navbar{
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: stretch; 
}
.navbar-brand{

  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox; 
  -ms-flex-negative: 0;
      flex-shrink: 0; 

  display: flex;
  flex-flow: row wrap; 
  flex: 1;
  align-items: center;
  justify-content: center;
  background: red; 
}
  
 .navbar-menu.menu-active {
    display: block;
  }
  
 .navbar .navbar-menu{ 
 }
.navbar-menu  .navbar-left,
  .navbar-menu  .navbar-right{ 
  flex-flow: column wrap;
  background: inherit;
  align-items: stretch; 
  margin-left:1em;

  }
    
  .dropdown-content{
    display: flex;
    flex-flow:  column;
    justify-content: center;

  margin-left:1em;
  }

}  