 
    * {
      margin: 0;
      padding: 0;
      outline: none;
      -webkit-box-sizing: 
      border-box;
      -moz-box-sizing: 
      border-box;
      box-sizing: border-box;
    }

*:after, *:before
 { 
  -webkit-box-sizing: 
  border-box;-moz-box-sizing:
   border-box;box-sizing: 
   border-box;
} 

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section 
{  
  display: block;
}
html
 {
  font-size: 100%;
  height: auto !important;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.clear 
{
  display: block;
   }
.clear::after 
{
  clear: both;
  content: ".";
  display: block;
  height: 1px;
  visibility: hidden;
}


.container {
  width: 98%;
  margin-right: 1%;
  margin-left: 1%;
  padding-right: 15px;
  padding-left: 15px; 
}
.border
{
  border: solid 2px #ccc;
}
  .center-text{
    text-align: center;
  }
/*GENERIC STYLES*/
body { 
  color: #222;
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.05em;
  font-weight: 400;
  height: auto !important;
  height: 100%;
  line-height: 1.6rem;
  min-height: 100%;}
body{
  margin:0;
}
 
 main{
  margin-top: 1rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
 }


.hide{
  display: none;
}
  

a.btn{
  text-decoration: none;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari. */
h1 {
  font-size: 2em;
  margin: 0.67em 0; 
}

/* Grouping content
 * ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE. */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ 
}


h1, h2, h3, h4, h5, h6 
{
 
  margin: 0.6rem;
  padding: 0.6rem;
}


/**********************\
 *Icon Bar
 \********************/
.icon-bar {
    width: 100%; /* Full-width */
    background-color: #45639B; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
    border-radius: 5px;
}
.icon-bar a.logo { 
  font-weight: bold;
  float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
      width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
}
.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: auto; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 15px; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

.icon-bar a.active{
    background-color: #000; 
}

 
/***************\
 *button
\**************/
 
 .alert-btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.alert-success {background-color: #4CAF50;} /* Green */
.alert-success:hover {background-color: #46a049;}

.alert-info {background-color: #2196F3;} /* Blue */
.alert-info:hover {background: #0b7dda;}

.alert-warning {background-color: #ff9800;} /* Orange */
.alert-warning:hover {background: #e68a00;}

.alert-danger {background-color: #f44336;} /* Red */ 
.alert-danger:hover {background: #da190b;}

.alert-default {background-color: #e7e7e7; color: black;} /* Gray */ 
.alert-default:hover {background: #ddd;}

.rounded-btn {
    border-radius: 5px;
}

/**  outline style */

 
/* Green */
.outline-success {
  background-color: white;
    border-color: #4CAF50;
    color: green;
}

.outline-success:hover {
    background-color: #4CAF50;
    color: white;
}

/* Blue */
.outline-info {
    border-color: #2196F3;
    color: dodgerblue
}

.outline-info:hover {
    background: #2196F3;
    color: white;
}

/* Orange */
.outline-warning {
    border-color: #ff9800;
    color: orange;
}

.outline-warning:hover {
    background: #ff9800;
    color: white;
}

/* Red */
.outline-danger {
    border-color: #f44336;
    color: red
}

.outline-danger:hover {
    background: #f44336;
    color: white;
}

/* Gray */
.outline-default {
    border-color: #e7e7e7;
    color: black;
}

.outline-default:hover {
    background: #e7e7e7;
}


/*******Pagination ***/
.pagination {
  display: -ms-flexbox;
  display: flex;
  flex-flow:  column;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}


.page-item:first-child   {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child   {
  align-items: center;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-buttons
{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.page-buttons .page-link { 
    float: left;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25; 
  color: #007bff;
  background-color: #fff;
  border: 1px solid #ddd;
}

.page-buttons .page-link.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.page-buttons .page-link:hover:not(.active) {
 color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #ddd;}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #ddd;
}

.reportGuide{
  width: 50%;
  background: #303030;
}

.reportGuide label{
  color: white;
}

 /******************************

       MODAL


 =============================*/
 .myModal{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: rgba(0, 0, 0, 0.4);
}

.modalContainer{
  width: 555px;
  background: #FFFFFF;
  margin:auto;
  margin-top:50px;
}

.modalHeader{
  padding:10px;
  background: #008CBA;
  color: #FFFFFF;
  height:50px;
  font-size:20px;
  padding-left:15px;
}


.modalBody{
  padding:20px;
}

.modalFooter{

  padding: 19px 20px 20px;
  margin-top: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.footerBtn{
  margin-right:10px;
  margin-top:-9px;
}

.closeBtn{
  background: #008CBA;
  float: right;
  color: #FFFFFF;
  border:none;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

button.close, button.closeBtn {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}



.modalFooter {
  padding: 19px 20px 20px;
  margin-top: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modalFooter:before,
.modalFooter:after {
  display: table;
  content: " ";
}

.modalFooter:after {
  clear: both;
}

.modalFooter:before,
.modalFooter:after {
  display: table;
  content: " ";
}

.modalFooter:after {
  clear: both;
}

.modalFooter .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modalFooter .btn-group .btn + .btn {
  margin-left: -1px;
}

.modalFooter .btn-block + .btn-block {
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .modal-dialog {
    right: auto;
    left: 50%;
    width: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}



.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}

.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}

.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #000000;
  border-width: 5px 5px 0;
}

.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-top-color: #000000;
  border-width: 5px 5px 0;
}

.tooltip.top-right .tooltip-arrow {
  right: 5px;
  bottom: 0;
  border-top-color: #000000;
  border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #000000;
  border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #000000;
  border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #000000;
  border-width: 0 5px 5px;
}

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-bottom-color: #000000;
  border-width: 0 5px 5px;
}

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-bottom-color: #000000;
  border-width: 0 5px 5px;
}


.clearfix:after {
  clear: both;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.affix {
  position: fixed;
}

@-ms-viewport {
  width: device-width;
}

@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
  }
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.visible-xs {
  display: block !important;
}

tr.visible-xs {
  display: table-row !important;
}

th.visible-xs,
td.visible-xs {
  display: table-cell !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-xs {
    display: none !important;
  }
  tr.visible-xs {
    display: none !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-xs {
    display: none !important;
  }
  tr.visible-xs {
    display: none !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .visible-xs {
    display: none !important;
  }
  tr.visible-xs {
    display: none !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: none !important;
  }
}

.visible-sm {
  display: none !important;
}

tr.visible-sm {
  display: none !important;
}

th.visible-sm,
td.visible-sm {
  display: none !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-sm {
    display: none !important;
  }
  tr.visible-sm {
    display: none !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .visible-sm {
    display: none !important;
  }
  tr.visible-sm {
    display: none !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: none !important;
  }
}

.visible-md {
  display: none !important;
}

tr.visible-md {
  display: none !important;
}

th.visible-md,
td.visible-md {
  display: none !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-md {
    display: none !important;
  }
  tr.visible-md {
    display: none !important;
  }
  th.visible-md,
  td.visible-md {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}

@media (min-width: 1200px) {
  .visible-md {
    display: none !important;
  }
  tr.visible-md {
    display: none !important;
  }
  th.visible-md,
  td.visible-md {
    display: none !important;
  }
}

.visible-lg {
  display: none !important;
}

tr.visible-lg {
  display: none !important;
}

th.visible-lg,
td.visible-lg {
  display: none !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-lg {
    display: none !important;
  }
  tr.visible-lg {
    display: none !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-lg {
    display: none !important;
  }
  tr.visible-lg {
    display: none !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}

.hidden-xs {
  display: none !important;
}

tr.hidden-xs {
  display: none !important;
}

th.hidden-xs,
td.hidden-xs {
  display: none !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-xs {
    display: block !important;
  }
  tr.hidden-xs {
    display: table-row !important;
  }
  th.hidden-xs,
  td.hidden-xs {
    display: table-cell !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-xs {
    display: block !important;
  }
  tr.hidden-xs {
    display: table-row !important;
  }
  th.hidden-xs,
  td.hidden-xs {
    display: table-cell !important;
  }
}

@media (min-width: 1200px) {
  .hidden-xs {
    display: block !important;
  }
  tr.hidden-xs {
    display: table-row !important;
  }
  th.hidden-xs,
  td.hidden-xs {
    display: table-cell !important;
  }
}

.hidden-sm {
  display: block !important;
}

tr.hidden-sm {
  display: table-row !important;
}

th.hidden-sm,
td.hidden-sm {
  display: table-cell !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
  tr.hidden-sm {
    display: none !important;
  }
  th.hidden-sm,
  td.hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-sm {
    display: block !important;
  }
  tr.hidden-sm {
    display: table-row !important;
  }
  th.hidden-sm,
  td.hidden-sm {
    display: table-cell !important;
  }
}

@media (min-width: 1200px) {
  .hidden-sm {
    display: block !important;
  }
  tr.hidden-sm {
    display: table-row !important;
  }
  th.hidden-sm,
  td.hidden-sm {
    display: table-cell !important;
  }
}

.hidden-md {
  display: block !important;
}

tr.hidden-md {
  display: table-row !important;
}

th.hidden-md,
td.hidden-md {
  display: table-cell !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-md {
    display: block !important;
  }
  tr.hidden-md {
    display: table-row !important;
  }
  th.hidden-md,
  td.hidden-md {
    display: table-cell !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
  tr.hidden-md {
    display: none !important;
  }
  th.hidden-md,
  td.hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-md {
    display: block !important;
  }
  tr.hidden-md {
    display: table-row !important;
  }
  th.hidden-md,
  td.hidden-md {
    display: table-cell !important;
  }
}

.hidden-lg {
  display: block !important;
}

tr.hidden-lg {
  display: table-row !important;
}

th.hidden-lg,
td.hidden-lg {
  display: table-cell !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-lg {
    display: block !important;
  }
  tr.hidden-lg {
    display: table-row !important;
  }
  th.hidden-lg,
  td.hidden-lg {
    display: table-cell !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-lg {
    display: block !important;
  }
  tr.hidden-lg {
    display: table-row !important;
  }
  th.hidden-lg,
  td.hidden-lg {
    display: table-cell !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
  tr.hidden-lg {
    display: none !important;
  }
  th.hidden-lg,
  td.hidden-lg {
    display: none !important;
  }
}

.visible-print {
  display: none !important;
}

tr.visible-print {
  display: none !important;
}

th.visible-print,
td.visible-print {
  display: none !important;
}

@media print {
  .visible-print {
    display: block !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
  .hidden-print {
    display: none !important;
  }
  tr.hidden-print {
    display: none !important;
  }
  th.hidden-print,
  td.hidden-print {
    display: none !important;
  }
}




.text-white {
  color: #fff !important;
}

.text-primary {
  color: #007bff !important;
}

a.text-primary:focus, a.text-primary:hover {
  color: #0062cc !important;
}

.text-secondary {
  color: #868e96 !important;
}

a.text-secondary:focus, a.text-secondary:hover {
  color: #6c757d !important;
}

.text-success {
  color: #28a745 !important;
}

a.text-success:focus, a.text-success:hover {
  color: #1e7e34 !important;
}

.text-warning {
  color: #ffc107 !important;
}

a.text-warning:focus, a.text-warning:hover {
  color: #d39e00 !important;
}

.text-danger {
  color: #dc3545 !important;
}

a.text-danger:focus, a.text-danger:hover {
  color: #bd2130 !important;
}

.text-light {
  color: #f8f9fa !important;
}

a.text-light:focus, a.text-light:hover {
  color: #dae0e5 !important;
}

.text-dark {
  color: #343a40 !important;
}

a.text-dark:focus, a.text-dark:hover {
  color: #1d2124 !important;
}

.text-muted {
  color: #868e96 !important;
}




.bg-primary {
  background-color: #007bff !important;
}

a.bg-primary:focus, a.bg-primary:hover {
  background-color: #0062cc !important;
}

.bg-secondary {
  background-color: #868e96 !important;
}

a.bg-secondary:focus, a.bg-secondary:hover {
  background-color: #6c757d !important;
}

.bg-success {
  background-color: #28a745 !important;
}

a.bg-success:focus, a.bg-success:hover {
  background-color: #1e7e34 !important;
}

.bg-info {
  background-color: #17a2b8 !important;
}

a.bg-info:focus, a.bg-info:hover {
  background-color: #117a8b !important;
}

.bg-warning {
  background-color: #ffc107 !important;
}

a.bg-warning:focus, a.bg-warning:hover {
  background-color: #d39e00 !important;
}

.bg-danger {
  background-color: #dc3545 !important;
}

a.bg-danger:focus, a.bg-danger:hover {
  background-color: #bd2130 !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

a.bg-light:focus, a.bg-light:hover {
  background-color: #dae0e5 !important;
}

.bg-dark {
  background-color: #343a40 !important;
}

a.bg-dark:focus, a.bg-dark:hover {
  background-color: #1d2124 !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-transparent {
  background-color: transparent !important;
}
.fadeout-message {
  opacity: 0;
  transition: opacity 0.15s linear;
}



.beedy-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.beedy-tooltip .top {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.beedy-tooltip .top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.beedy-tooltip:hover .top,
.beedy-tooltip:hover .bottom {
    visibility: visible;
    opacity: 1;
}




.beedy-tooltip .bottom {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding:  5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.beedy-tooltip .bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


@media only screen and (max-width: 550px) {
   .card1
   {
    order: 1;
   }
.card2
   {
    order: 2;
 
   }
.card3
   {
 
    order: 3;
   }

 } 

 #userMore, #reportMore{
  display: none;
 }


 
/* Hide default HTML checkbox */
.switch input {display:none; } 

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D2322D;
  -webkit-transition: .4s;
  transition: .4s;
  
}
.slider:before {
  position: absolute;
  content: "No";
    text-align: center;
  height: 26px;
  width: 42px;
  left: 4px; 
  bottom: 5px;
  background-color: #CECECE;
  -webkit-transition: .4s;
  transition: .4s;
}
/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}
.slider.round:before {
  border-radius: 30%;
}input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content: "Yes";
  color: #000;
   font-weight: bold;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider {
  background-color: #47A447;
  color: #fff;
  font-weight: bold;
  
}
 
 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  margin:1px;
  width: 90px;
  height: 34px; 
}

